<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="#" method="post" th:action="@{/login}" th:object="${customer}">
    <label for="username">Username</label>
    <input id="username" placeholder="Username" th:field="*{username}" type="text">

    <label for="password">Password</label>
    <input id="password" placeholder="" th:field="*{password}" type="password">

    <input type="submit" value="Login">
</form>
</body>
</html>