<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet"/>
    <title>Login page</title>
</head>
<body>
<div class="container">
    <div class="alert alert-success" th:if="${param.logout}">
        You have been logged out.
    </div>
    <form action="#" method="post" th:action="@{/login}" th:object="${customer}">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" placeholder="Username" th:field="*{username}" type="text"/>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" placeholder="Password" th:field="*{password}" type="password"/>
        </div>

        <input class="btn btn-primary" type="submit" value="Login"/>
    </form>
</div>

<!-- JavaScript for Bootstrap -->
<script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>